# Node modules
frontend/node_modules/
backend/node_modules/

# Environment variables
frontend/.env
backend/.env

# Build files
frontend/dist/
frontend/build/
backend/dist/
backend/build/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

.env